<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Emisiones</servlet-name>
		<servlet-class>es.us.sos.EmisionesServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ConsumoEnergia</servlet-name>
		<servlet-class>es.us.sos.ConsumoEnergiaServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TiposEnergia</servlet-name>
		<servlet-class>es.us.sos.TiposEnergiaServlet</servlet-class>
	</servlet>
	
	
	
	<servlet-mapping>
		<servlet-name>Emisiones</servlet-name>
		<url-pattern>/EmisionesServlet/emisiones/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ConsumoEnergia</servlet-name>
		<url-pattern>/ConsumoEnergiaServlet/consumos/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TiposEnergia</servlet-name>
		<url-pattern>/TiposEnergiaServlet/tiposenergia/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
